<div class="container">
  <div class="row text-center">
    <h1>Hello World!!!</h1>
  </div>
  <div class="row text-center">
    <app-right-window [name]="currentName1" [lists]="currentList1"></app-right-window>
    
    <app-right-window [name]="currentName2" [lists]="currentList2"></app-right-window>



    <div class="card" context-menu>
      <div class="card-header">
        Sono un blocco con un menu a tendina
      </div>
      <div class="card-body">
      </div>
    </div>

  </div>
</div>